/* Start på Startindstillinger */

* {
  margin: 0; /* Fjerner margin fra alle elementer */
  padding: 0; /* Fjerner padding fra alle elementer */
  box-sizing: border-box;
}

/* Slut på Startindstillinger */

/* Start på key */

main {
  padding: 1rem; /* Luft rundt om main */
}

body {
  font-family: "Raleway", "Inter", sans-serif;
  background-color: #efe3d7;
  color: black;
  line-height: 1.8;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-top: 0.5rem;
}

/* Slut på key */

/* Start på mobilførst */

/* Start på header og nav */

header {
  display: flex; /* Flexboks til layout af logo og menu */
  justify-content: space-between; /* Logo skal stå til venstre og menu skal stå til højre */
  align-items: center; /* Placere i midten lodret */
  padding: 0.5rem;
  background-color: #5c4033;
}

nav ul {
  display: flex; /* Sætter menu som en række */
  flex-direction: row;
  gap: 1.5rem; /* Aftstand mellem menupunkter */
  list-style: none;
  margin-right: 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Slut på header og nav */

/* Start på section om mit portfolio */

.headerportfolio h1 {
  font-size: 44px;
  margin-top: 3.5rem;
}

.headerportfolio p {
  margin-top: 1.5rem;
  line-height: 1.8;
  margin-bottom: 3.5rem;
  font-size: 18px;
}

/* Slut på section om mit portfolio */

/* Start på sections om temaer */

.tematoogtre,
.temafireogfem {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

article {
  text-align: left;
}

article h2 {
  font-size: 24px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

article p {
  font-size: 18px;
  margin-bottom: 3rem;
}

article img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-right: 2rem;
}

/* Slut på sections om temaer */

/* Start på se mere buttons */

.semerebutton {
  display: inline-block;
  background-color: #5c4033;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
}

.semerebutton:hover {
  background-color: #d3d3d3;
  color: white;
}

.semerebuttontre {
  display: inline-block;
  background-color: #5c4033;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  margin-bottom: 3rem;
}

.semerebuttontre:hover {
  background-color: #d3d3d3;
  color: white;
}

/* Slut på se mere buttons */

/* Slut på mobilførst */

/* Start på desktop */

@media (min-width: 768px) {
  main {
    margin: 0 auto; /* Placerer main i midten */
    padding: 2rem;
  }

  /* Start på billede kontrol */

  .temato img {
    width: 550px !important;
    height: 500px !important;
  }

  .tematre img {
    width: 550px !important;
    height: 500px !important;
  }

  .temafem img {
    width: 550px !important;
    height: 500px !important;
  }

  .temafire img {
    width: 550px !important;
    height: 500px !important;
  }

  /* Slut på billede kontrol */

  /* Start på portfolio overskrift og tekst */

  .headerportfolio h1 {
    font-size: 59px;
    text-align: left;
    width: 537px;
    margin-top: 10rem;
    padding-left: 3.5rem;
  }

  .headerportfolio p {
    font-size: 20px;
    text-align: left;
    width: 594px;
    padding-left: 3.5rem;
  }

  /* Slut på portfolio overskrift og tekst */

  /* Start på tema 2 & 3 */

  .tematoogtre {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important; /* To kolonner */
    gap: 5rem !important; /* Afstand mellem rækker og kolonner */
    margin-top: 10rem !important;
  }

  .tematoogtre article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 550px;
    padding-left: 3.5rem;
  }

  .tematoogtre article p {
    margin-top: auto;
  }

  .temato h2 {
    font-size: 21.5px;
    width: 550px;
  }

  .temato p {
    font-size: 20px;
    width: 550px;
    margin-bottom: 5.3rem !important;
  }

  .tematre h2 {
    font-size: 21.5px;
    width: 550px;
  }

  .tematre p {
    font-size: 20px;
    width: 550px;
  }

  /* Slut på tema 2 & 3 */

  /* Start på tema 4 & 5 */

  .temafireogfem article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 550px;
    padding-left: 3.5rem;
  }

  .temafireogfem {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 5rem !important;
    margin-top: 10rem !important;
  }

  .temafireogfem article p {
    margin-top: auto;
  }

  .temafire h2 {
    font-size: 21.5px;
    width: 560px;
  }

  .temafire p {
    font-size: 20px;
    width: 550px;
  }

  .temafem h2 {
    font-size: 21.5px;
    width: 550px;
  }

  .temafem p {
    font-size: 20px;
    width: 550px;
  }

  /* Slut på tema 4 & 5 */

  /* Start på buttons */

  .semerebuttonto {
    margin-bottom: 3rem !important;
  }

  .semerebutton,
  .semerebuttontre,
  .semerebuttonfem {
    margin-top: auto;
  }

  /* Slut på buttons */
}
