/* Start på Startindstillinger */

* {
  margin: 0; /* Fjerner margin fra alle elementer */
  padding: 0; /* Fjerner padding fra alle elementer */
  box-sizing: border-box;
}

/* Slut på Startindstillinger */

/* Start på key */

main {
  padding: 1rem; /* Luft rundt om main */
}

body {
  font-family: "Raleway", "Inter", sans-serif;
  background-color: #efe3d7;
  color: black;
  line-height: 1.8;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-top: 0.5rem;
}

/* Slut på key */

/* Start på mobilførst */

/* Start på header og nav */

header {
  display: flex; /* Flexboks til layout af logo og menu */
  justify-content: space-between; /* Logo skal stå til venstre og menu skal stå til højre */
  align-items: center; /* Placere i midten lodret */
  padding: 0.5rem;
  background-color: #5c4033;
}

nav ul {
  display: flex; /* Sætter menu som en række */
  flex-direction: row;
  gap: 1.5rem; /* Aftstand mellem menupunkter */
  list-style: none;
  margin-right: 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Slut på header og nav */

/* Start på kontakt overskrift og kontakt tekst */

main h1 {
  font-size: 44px;
  margin-top: 2.5rem;
}

#form-info p {
  font-size: 18px;
  margin-top: 2rem;
}

/* Slut på kontakt overskrift og kontakt tekst */

/* Start på kontakt formular */

form {
  background-color: #efe3d7;
  padding: 0rem; /* Fjerner alt indvendig luft */
}

.form-group {
  display: flex; /* Flexboks til label og input */
  flex-direction: column;
  gap: 2rem; /* Afstanden mellem felter */
}

label {
  font-size: 22px;
  font-weight: normal;
}

fieldset {
  border: none; /* Fjerner den grå kant */
}

input {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

textarea {
  width: 100%;
  height: 520px;
}

input,
textarea {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid black;
}

button {
  border: 1px solid #5c4033;
  background-color: #5c4033;
  color: #fff;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 16px;
}

form {
  accent-color: royalblue;
}

:focus-visible {
  outline: 2px solid royalblue; /* Når man trykker ind i et felt */
  outline-offset: 1px; /* Flytter kanten med 1px ud fra feltet */
}

button:hover {
  outline: 2px solid lightgrey;
  outline-offset: 1px;
}

button:active {
  outline: 2px solid lightgrey;
  outline-offset: 1px;
}

/* Slut på kontakformular */

/* Slut på mobilførst */

/* Start på desktop */

@media (min-width: 768px) {
  main {
    margin: 0 auto; /* Placerer main i midten */
    padding: 2rem;
  }

  /* Start på overskrift */

  main h1 {
    font-size: 59px;
    margin-top: 7rem;
    padding-left: 2rem;
  }

  /* Slut på overskrift */

  /* Start på section, herunder paragraf, label, form = indtast + send, input, textarea, button hover */

  #form-section {
    gap: 4rem;
  }

  #form-info p {
    margin-top: 3rem;
    font-size: 20px;
    line-height: 1.7;
    padding-left: 2rem;
  }

  label {
    font-size: 24px;
  }

  form {
    border-radius: 10px;
    padding: 2rem;
  }

  .form-group {
    gap: 3rem; /* Luft mellem felter */
  }

  input {
    font-size: 18px;
    border-radius: 10px;
    width: 820px;
  }

  textarea {
    font-size: 18px;
    border-radius: 10px;
    width: 820px;
    height: 400px;
  }

  button:hover {
    outline: 2px solid lightgrey;
    outline-offset: 1px;
  }

  /* Slut på section, herunder paragraf, label, form = indtast + send, input, textarea, button hover */
}
