/* Start på Startindstillinger */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Slut på Startindstillinger */

/* Start på key */

main {
  padding: 1rem;
}

body {
  font-family: "Raleway", "Inter", sans-serif;
  background-color: #efe3d7;
  color: black;
  line-height: 1.8;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-top: 0.5rem;
}

/* Slut på key */

/* Start på mobilførst */

/* Start på header og nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #5c4033;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  margin-right: 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Slut på header og nav */

/* Start på kontakt overskrift og kontakt tekst */

main h1 {
  font-size: 44px;
  margin-top: 2.5rem;
}

#form-info p {
  font-size: 18px;
  margin-top: 2rem;
}

/* Slut på kontakt overskrift og kontakt tekst */

/* Start på kontakt formular */

form {
  background-color: #efe3d7;
  padding: 0rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  font-size: 22px;
  font-weight: normal;
}

fieldset {
  border: none;
}

input {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

textarea {
  width: 100%;
  height: 100px;
}

input,
textarea {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid black;
}

button {
  border: 1px solid #5c4033;
  background-color: #5c4033;
  color: #fff;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 16px;
}

form {
  accent-color: royalblue;
}

:focus-visible {
  outline: 2px solid royalblue;
  outline-offset: 1px;
}

button:hover {
  outline: 2px solid lightgrey;
  outline-offset: 1px;
}

button:active {
  outline: 2px solid lightgrey;
  outline-offset: 1px;
}

/* Slut på kontakformular */

/* Slut på mobilførst */
