/* Start på Startindstillinger */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Slut på Startindstillinger */

/* Start på key */

main {
  padding: 1rem;
}

body {
  font-family: "Raleway", "Inter", sans-serif;
  background-color: #efe3d7;
  color: black;
  line-height: 1.8;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-top: 0.5rem;
}

/* Slut på key */

/* Start på mobilførst */

/* Start på header og nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #5c4033;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  margin-right: 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Slut på header og nav */

/* Start på om mig section*/

.ommig h1 {
  margin-top: 2rem;
  font-size: 44px;
  text-align: center;
}

/* Start på om mig indhold */

.ommig-indhold {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.ommig-indhold img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.ommig-indhold p {
  width: 400px;
  font-size: 18px;
  text-align: left;
}

/* Slut på om mig indhold */

/* Start på uddannelse section */

.uddannelse h1 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 44px;
  text-align: center;
}

/* Slut på uddannelse section */

/* Start på uddannelse indhold */

.uddannelse-indhold {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.uddannelse-indhold img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.uddannelse-indhold p {
  width: 400px;
  font-size: 18px;
  text-align: left;
  margin-top: 1.5rem;
}

/* Slut på uddannelse indhold */

/* Start på erhvervserfaring section */

.erhvervserfaring h1 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 44px;
  text-align: center;
}

/* Slut på erhvervserfaring section */

/* Start på erhvervserfaring indhold */

.erhvervserfaring-indhold {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.erhvervserfaring-indhold img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 0.5rem;
}

.erhvervserfaring-indhold p {
  width: 400px;
  font-size: 18px;
  text-align: left;
  margin-top: 1.5rem;
}

/* Slut på erhvervserfaring indhold */

/* Slut på mobilførst */

/* Start på desktop */

@media (min-width: 768px) {
  main {
    margin: 0 auto;
    padding: 2rem;
  }

  /* Start på billede kontrol */

  .ommig img {
    width: 580px;
    height: 550px;
  }

  .uddannelse img {
    width: 580px;
    height: 550px;
  }

  .erhvervserfaring img {
    width: 580px;
    height: 550px;
  }

  /* Slut på billede kontrol */

  /* Start på om mig */

  .ommig {
    margin-top: 7rem;
    margin-left: 10rem;
    padding-left: 3.5rem;
  }

  .ommig h1 {
    font-size: 59px;
    margin-right: 1rem;
    margin-bottom: 4rem;
    height: 48px;
  }

  .ommig-indhold {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 4rem;
    align-items: start;
    max-width: 1050px;
    margin: 0 auto;
  }

  .ommig-indhold img {
    width: 500px;
    height: 450px;
    grid-column: 1;
    margin-left: -12rem;
    margin-top: 12rem;
    grid-row: 1 / span 3;
  }

  .ommig p {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-right: -7rem;
    grid-column: 2;
    text-align: justify;
    width: 594px;
  }
  /* Slut på om mig */

  /* Start på uddannelse */

  .uddannelse {
    margin-top: 5rem;
    margin-right: 10rem;
    padding: 3.5rem;
  }

  .uddannelse h1 {
    font-size: 59px;
    margin-right: 45rem;
    height: 48px;
  }

  .uddannelse-indhold {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 4rem;
    align-items: start;
    max-width: 1050px;
    margin: 0 auto;
  }

  .uddannelse-indhold img {
    width: 500px;
    height: 450px;
    grid-column: 2;
    margin-left: 1rem;
    margin-top: 5rem;
    grid-row: 1 / span 3;
  }

  .uddannelse-indhold p {
    font-size: 20px;
    margin-bottom: 1rem;
    grid-column: 1;
    text-align: justify;
    justify-self: start;
    width: 594px;
  }

  /* Slut på uddannelse */

  /* Start på erhvervserfaring */

  .erhvervserfaring {
    margin-top: 5rem;
    margin-left: 10rem;
    padding-left: 3.5rem;
  }

  .erhvervserfaring h1 {
    font-size: 59px;
    margin-left: 14.5rem;
    margin-bottom: 4rem;
    height: 48px;
  }

  .erhvervserfaring-indhold {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 4rem;
    align-items: start;
    max-width: 1050px;
    margin: 0 auto;
  }

  .erhvervserfaring-indhold img {
    width: 500px;
    height: 450px;
    grid-column: 1;
    margin-left: -12rem;
    margin-top: 5rem;
    grid-row: 1 / span 3;
  }

  .erhvervserfaring p {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-right: -7rem;
    grid-column: 2;
    text-align: justify;
    width: 594px;
  }
}
