/* Start på Startindstillinger */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Slut på Startindstillinger */

/* Start på key */

main {
  padding: 1rem;
}

body {
  font-family: "Raleway", "Inter", sans-serif;
  background-color: #efe3d7;
  color: black;
  line-height: 1.8;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-top: 0.5rem;
}

/* Slut på key */

/* Start på header og nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #5c4033;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  margin-right: 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Slut på header og nav */

/* Start på section om mit portfolio */

.headerportfolio h1 {
  font-size: 44px;
  margin-top: 3.5rem;
}

.headerportfolio p {
  margin-top: 1.5rem;
  line-height: 1.8;
  margin-bottom: 3.5rem;
}

/* Slut på section om mit portfolio */

/* Start på sections om temaer */

.tematoogtre,
.temafireogfem {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

article {
  text-align: left;
}

article h2 {
  font-size: 24px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

article p {
  margin-bottom: 3rem;
}

article img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-right: 2rem;
}

/* Slut på sections om temaer */

/* Start på se mere buttons */

.semerebutton {
  display: inline-block;
  background-color: #5c4033;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
}

.semerebutton:hover {
  background-color: #d3d3d3;
  color: white;
}

.semerebuttontre {
  display: inline-block;
  background-color: #5c4033;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  margin-bottom: 3rem;
}

.semerebuttontre:hover {
  background-color: #d3d3d3;
  color: white;
}
