/* Start på Startindstillinger */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Slut på Startindstillinger */

/* Start på key */

main {
  padding: 1rem;
}

body {
  font-family: "Raleway", "Inter", sans-serif;
  background-color: #efe3d7;
  color: black;
  line-height: 1.8;
}

/* Slut på key */

/* Start på mobilførst */

/* Start på overskriftet og tilbage button */

.undersideto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.undersideto h1 {
  font-size: 18.5px;
  margin-top: 1rem;
}

.tilbagebutton {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  margin-top: 0.8rem;
  color: black;
  font-weight: 700;
}

/* Slut på overskriftet og tilbage button */

/* Start på tema indhold */

.undersideto-indhold p {
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* Slut på tema indhold */

/* Start på mobilsite screenshots, indhold og buttons */

.mobilsite-version-et {
  margin-top: 1rem;
}

.mobilsite-version-et h2 {
  font-size: 18px;
  margin-bottom: 3rem;
}

.mobilsite-version-et img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.mobilsite-version-et p {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
}

.mobilsite-version-et-buttons a {
  display: inline-block;
  background-color: #5c4033;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 17px;
  width: 150px;
  height: 40px;
  text-align: center;
}

.mobilsite-version-et-buttons {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

/* Slut på mobilsite screenshots, indhold og buttons */

/* Start på website product (mobilsite version2) screenshots, indhold og buttons */

.website-product-version-to {
  margin-top: 1rem;
}

.website-product-version-to h2 {
  font-size: 18px;
  margin-bottom: 3rem;
}

.website-product-version-to img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.website-product-version-to p {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
}

.website-product-version-to-buttons a {
  display: inline-block;
  background-color: #5c4033;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 17px;
  width: 150px;
  height: 40px;
  text-align: center;
}

.website-product-version-to-buttons {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

/* Slut på website product (mobilsite version2) screenshots, indhold og buttons */

/* Slut på mobilførst */

/* Start på desktop */

@media (min-width: 768px) {
  main {
    margin: 0 auto;
    padding: 2rem;
  }

  /* Start på overskrift og tilbageknap */

  .undersideto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .undersideto h1 {
    font-size: 40px;
    padding-left: 1rem;
  }

  .tilbagebutton {
    font-size: 20px;
  }

  /* Slut på overskrift og tilbageknap */

  /* Start på tema 2 indhold */

  .undersideto-indhold p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 2rem;
    width: 1214px;
    padding-left: 1.3rem;
  }

  /* Slut på tema 2 indhold */

  /* Start på mobilsite version 1 og div grid */

  .mobilsite-version-et h2 {
    font-size: 24px;
    margin-bottom: 2rem;
    padding-left: 1.3rem;
  }

  .grid-fem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-left: 1.3rem;
  }

  .grid-boks img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }

  .mobilsite-version-et p {
    font-size: 20px;
  }

  .mobilsite-version-et-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  /* Slut på mobilsite version 1 og div grid */

  /* Start på website product version 2 og div grid */

  .website-product-version-to h2 {
    font-size: 24px;
    margin-bottom: 2rem;
    padding-left: 1.3rem;
    margin-top: 10rem;
  }

  .website-product-version-to p {
    font-size: 20px;
  }

  .website-product-version-to-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  /* Slut på website product version 2 og div grid */

  /* Slut på desktop */
}
